Flask==0.10.1
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.9
Werkzeug==0.10.4
gunicorn==19.3.0
itsdangerous==0.24
psycopg2==2.6

funcsigs==1.0.2
mock==2.0.0
numpy==1.11.2
pbr==1.10.0
protobuf==3.1.0
six==1.10.0
tensorflow==0.12.0rc1
